<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>library portal</title>
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/style.css')}}">
</head>
<body style = "background:url(static/image/d.jpg);background-size: cover;">

 <div class="headlinef">
    <h1>welcome to Library Portal</h1>
   </div>


<div class="in">
    <h3>ADMINISTRATOR</h3>
    <form action="/home" method="post">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Login">
    </form>
</div>
</body>
</html>