<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static', filename = '/css/style.css')}}">
    <title>Document</title>
</head>
<body style=" background:url(static/image/a.jpg); background-size: cover;">
    <button class="sgn"><a href="/home">
        signout
    </a></button>
  <h1>welcome to Library Portal</h1>
  <div class="main">
      <h3>ADMINISTRATOR PAGE</h3> 
      <a href="/add"> <button>Add BORROWER</button></a> <a href="/records"> <button>view books</button> </a>
</div></body>
</html>