<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static', filename = '/css/style.css')}}">
    <title>Document</title>
</head>
<body style="background-image: url(static/image/a.jpg); background-size:cover;">
    <button class="sgn"><a href="/home">
        signout
    </a></button>
    <nav>
        <a href="http://"> Borrower database</a>
        <a href="">Add Borrower</a>
    </nav>
    <h1>welcome to Library Portal</h1>
    
    
    <form method="POST" action="/add" class="mainb">
        <h3>Borrower Information</h3>
        
        <p>Student Name</p><input type="text" name="student_name"  placeholder = "stu_name"><br>
        <p>Student ID</p><input type="text" name="student_id"    placeholder = "stu_id"><br>
        <p>Title</p>   <input type="text" name="book_name"  placeholder = "title"><br>
        <p>Edition</p><input type="text" name="edition" placeholder = "edition"><br>
        <p>Author</p><input type="text" name="author"   placeholder = "author"><br>
        <input type="datetime-local" name="date1"   placeholder="Sign-in">
        <br><br>
        <input type="submit" value="submit">
    </form>

</body>
</html>